{% extends 'admin/base.html.twig' %}
{% form_theme image_form 'form/bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ form(image_form) }}

            <hr/>

            <div class="alert alert-success">
                URL vybraného obrázku (klikněte na obrázek) : <span class="image-url"></span>
            </div>

            <div class="row">
                {% for image in image_list %}
                    <div class="col-2">
                        <img src="{{ asset('obrazky/') }}{{ image }}" class="image_admin"
                             data-url="/obrazky/{{ image }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".image_admin").click(function (element) {
                var url = $(this).attr("data-url");
                $(".image-url").text(url);
            });
        });
    </script>
{% endblock %}