/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
LICENSE
README.md
app/config/config_prod.yml
app/config/config_dev.yml
app/config/config_test.yml
app/config/parameters.yml.dist
app/config/routing_dev.yml
composer.lock
phpunit.xml.dist
src/.htaccess
tests/
var/SymfonyRequirements.php
var/cache/.gitkeep
var/logs/.gitkeep
var/sessions/.gitkeep
