{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/magula.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-xl-8 col-md-12">
                {% for published in published_list %}
                    {% if published.content.type == 0 %}
                        {% include "default/content/article.html.twig" %}
                    {% elseif published.content.type == 1 %}
                        {% include "default/content/new.html.twig" %}
                    {% elseif published.content.type == 2 %}
                        {% include "default/content/snippet.html.twig" %}
                    {% endif %}

                    <br/>
                {% endfor %}

                {% if count / content_per_page - 1 > 0 %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% for i in 0..(count / content_per_page - 1) %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('homepage', { page : i }) }}">{{ i + 1 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
