{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-xl-8">
                {% for published in published_list %}
                    {% if published.content.type == 0 %}
                        {% include "default/content/article.html.twig" %}
                    {% elseif published.content.type == 1 %}
                        {% include "default/content/new.html.twig" %}
                    {% endif %}

                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
