{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-xl-8 col-md-12">
                {% for published in published_list %}
                    {% if published.content.type == 0 %}
                        {% include "default/content/article.html.twig" %}
                    {% elseif published.content.type == 1 %}
                        {% include "default/content/new.html.twig" %}
                    {% elseif published.content.type == 2 %}
                        {% include "default/content/snippet.html.twig" %}
                    {% endif %}

                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
