{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/magula.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-main">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-8 col-xs-12">
                            <div class="card-body">
                                <h2>Výsledek vyhledávání</h2>
                                <ul>
                                    {# @var content \AppBundle\Entity\Content #}
                                    {% for content in content_list %}
                                        <li><a href="">{{ content.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}