{% extends 'layout.html.twig' %}

{% form_theme add_form "form/bootstrap_3_horizontal_layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/magula.min.css">
{% endblock %}

{% block body %}
    <div class="container container-content">
        <h1 class="header-title">Názory k <strong>{{ content.title }}</strong></h1>

        <div class="alert alert-primary display-none" id="comment-react-alert">
            Nyní odpovídáte na komentář #<span id="comment-react-id"></span>
        </div>

        {{ form(add_form) }}

        <hr>

        {% for comment in content.comments %}
            {% include "default/comment/comment_item.html.twig" %}

            {% if comment.parent is not null %}
                {{ comment.parent.id }}
            {% endif %}
            <br>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(document).ready(function () {
            $("span.react-btn").click(function (obj) {
                var element = $(obj.target);
                element.parent().parent().parent().addClass("border-danger");
                $("#comment_add_form_parent").val(element.attr("id"));
                $("#comment-react-id").text(element.attr("id"));
                $("#comment-react-alert").fadeIn();
            });
        });
    </script>
{% endblock %}