{% extends "admin/base.html.twig" %}

{% form_theme add_content_form "form/bootstrap_3_horizontal_layout.html.twig" %}

{% block content %}
    <div class="col-12">
        {{ form(add_content_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function render(element) {
            var value = element.val();

            if (value == 2) {
                $("#content_add_form_perex").parent().parent().fadeOut();
                $("#content_add_form_imageFileObject").parent().parent().fadeOut();
            } else {
                $("#content_add_form_perex").parent().parent().fadeIn();
                $("#content_add_form_imageFileObject").parent().parent().fadeIn();
            }
        }

        $(document).ready(function () {
            var element = $("select");
            render(element);

            $("select").change(function (obj) {
                var element = $(obj.target);
                render(element);
            });
        });
    </script>
{% endblock %}
