{% extends "admin/base.html.twig" %}

{% form_theme add_content_form "form/bootstrap_3_horizontal_layout.html.twig" %}

{% block content %}
    <div class="col-12">
        {{ form(add_content_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {% include "admin/content/content_form.html.twig.js" %}

        $(document).ready(function () {
            var element = $("select#content_add_form_type");
            render(element);

            $(element).change(function (obj) {
                var element = $(obj.target);
                render(element);
            });
        });
    </script>
{% endblock %}
