{% extends "admin/base.html.twig" %}

{% form_theme edit_form "form/bootstrap_3_horizontal_layout.html.twig" %}

{% block content %}
    <div class="col-12">
        <a target="_blank" href="{{ path('admin_content_preview', {content_id : content.id}) }}"
           class="btn btn-warning float-right">Zobrazit náhled</a>
        {{ form(edit_form) }}
    </div>
{% endblock %}