{% extends "admin/base.html.twig" %}

{% form_theme edit_form "form/bootstrap_3_horizontal_layout.html.twig" %}

{% block content %}
    <div class="col-12">
        <div class="alert alert-primary display-none" id="content-alert">
            Obsah byl úspěšně synchronizován v <span id="content-time"></span>
        </div>

        <a target="_blank" href="{{ path('admin_content_preview', {content_id : content.id}) }}"
           class="btn btn-warning float-right">Zobrazit náhled</a>
        {{ form(edit_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var run_asynchronous = true;

        {% include "admin/content/content_form.html.twig.js" %}

        $("input[type=file]").change(function() {
            run_asynchronous = false;
        });

        $(document).ready(function () {
            var element = $("select#content_add_form_type");
            render(element);

            element.change(function (obj) {
                var element = $(obj.target);
                render(element);
            });

            $('form').submit(function (e) {
                if (run_asynchronous) {
                    e.preventDefault();
                    var url = "{{ path('admin_content_edit', {id: content.id}) }}";
                    var formSerialize = $(this).serialize();

                    $.post(url, formSerialize, function (response) {
                        alert("test");
                    }, 'JSON');

                    var datetime = new Date();
                    $("#content-time").text(datetime.getHours() + ":" + datetime.getMinutes());
                    $("#content-alert").fadeIn();
                }
            });
        });
    </script>
{% endblock %}